@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --radius-sm: 0.225rem;
  --radius-md: 0.425rem;
  --radius-lg: 0.625rem;
  --radius-xl: 1.025rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-white;
  }
}

.monaco-editor-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgb(59 130 246) transparent;
}

.code-editor-wrapper {
  border-radius: 0.625rem;
  overflow: hidden;
}